body {
    font-family: 'Montserrat', sans-serif;
}  

header{
    width: 100%;
    height: auto;
    position: relative;
    background: #232323;
}

form{
    width: 940px;
    margin: 0 auto;
} 

form h1{
    margin:50px 0 0 25%;
    padding: 0 0 0 20px;
    font-weight: bold;
}

.conteudo-form{
    padding: 20px;
    margin: 20px 0 0 25%;
}

.input-padrao {
    display: flex;
    margin: 0 0 15px 0;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-r
}

.enviar{
    width: 426px;
    padding: 10px;
    margin: 15px 15px 15px 0 ;
    cursor: pointer;
    font-size: 16px;
}



.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

.logo{
    font-size: 22px;
    color: white;
    position: relative;
    top: 20px;
    left: 30px;

}
.primeira-frase-logo{
    position: relative;
    left: 10px;
}

nav{
    position: relative;
    text-align: right;
    bottom: 30px;
    
}


nav li{
    display: inline;
    margin: 0 0 0 25px;

}

nav a:hover {
    color: rgb(2, 60, 248);
    text-decoration: underline;
}

nav a {
    text-transform:uppercase;
    color: white;
    font-size: 16px;
    text-decoration:none;
}

.navegaçao{
    position: relative;
    right: 180px;
    top: 20px;
}

#banner{
    max-width: 100%;
    max-height: 950px;
    width: auto;
    height: auto;
}


a img{
    width: 25px;
    height: 25px;
}

#mae{
    max-width: 270px;
    max-height: 220px;
    width: auto;
    height: auto;
    float: left;
    margin: 15px 20px 20px 20px;
    
}

.titulo-principal{
    text-align: left;
    font-size: 2em;
    margin: 0 0 10px 6px; 
    padding: 15px;   
}

.conteudo-principal{
    background:#dcfffb;
}

.conteudo-tenda{
    width: 940px;
    margin: 0 auto;
    line-height: 1.5;    
}

.titulo-sobrenos{
    font-size: 2em;
    text-align: left;
    padding: 15px;
    margin: 0 0 0 6px;
}

.bloco1-tenda{
    margin: 0 0 0 20px;
}

.caixa1{
    width: 31%;
    position: static;
    font-size: 1.5em;
    text-align: left;
    display: inline-flex;
    padding: 10px 10px 10px 0;
    color: black;
    background: #92f3ed;
    border-radius: 5px;
    
}

.bloco2-tenda{
    margin: 0 0 0 20px;
}

.caixa2{
    width: 31%;
    position: static;
    font-size: 16px;
    text-align: justify;
    display: inline-flex;
    padding: 10px 10px 10px 0;
    margin: 10px 0 0 0;
    color: black;
    line-height: 1.75;
  
    
}

.maesula{
    width: 940px;
    margin: 0 auto;
    padding: 2em 0;
    text-align: justify;
    line-height: 1.5;
}

.conteudo-maesula{
    text-indent: 7%;
}

.video{
    width: 560px;
    margin: 1em auto;
    padding: 2em 0;

}

.atendimento{
    width: 940px;
    margin: 0 auto;
}

.atendimento p{
    margin: 0 0 1em 20px;
    font-weight: bold;
}

#titulo-atendimento{
    text-align: left;
}



table{
    position: relative;
    margin: 2em 0 0 20px;
    left: 30%;

    
}

thead{
    background: lightcoral;
    font-weight: bold;
}

td, th{
    padding: 5px;
    border: 2px solid black;
}

.vaquinha{
    width: 940px;
    margin: 10px auto;
    padding: 20px 0;
}


.vaquinha p{
    margin: 0 0 0 22px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.75;
    
}


footer{
    position: relative;
    background:#232323;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 50px 0 50px 0;
    
}

#pretin{
    max-width: 170px;
    max-height: 120px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 480px) {
    
}

.titulo-galeria{
    text-align: center;
    background: darkred;
    font-size: 2em;
    margin: 0 0 10px 0px; 
    padding: 15px;   
}

gallery-container {
    width: 90%;
    position: relative;
    margin: 0 5%;
    background: #333;
    padding: 2px;
  }
    @media (min-width: 480px) {
        .gallery-container {
          width: 800px;
          margin: auto;
        }
    }
  

.gallery-container{
    width: 940px;
    margin: 0 auto;
}

.mySlides {
    display: block;
 
  }
  
  
.prev, .next {
    position: absolute;
    top: 60%;
    padding: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.1);
  }
  

.prev{
      left: 100px;
  }
  
.next {
    right: 100px;
    border-radius: 3px 0 0 3px;
  }

  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
.text {
    color: #9e0606;
    font-size: 16px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }
  
.imgslide {
    max-width: 900px;
    max-height: 600px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto

    
  }
  
.numbertext {
    color: #c91111;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    position: relative;
    text-align: center;
  }
  @media (max-width: 768px) {
.numbertext {
      top: 15px;
    }
  }
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }






